= simple_form_for @story, html: { class: 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :body, input_html: { cols: 80, rows: 3 }, label: "Story"
  = f.association :user, label: "Assigned with"
  -unless @story.new_record?
    .control-group
      = f.label "status"
      .controls= render partial: 'story_state', locals: {story: @story}
  .form-actions
    = f.button :submit, class: "btn-primary"
